{% extends "base.html" %} {% block body %} {% include "navbar.html" %}
<section class="hero is-primary is-bold is-large">
	<div class="hero-body">

		<title>DineMore</title>

		<div class="container has-text-centered">
			<div class="columns">
				<div class="column is-auto">
					<p class="title is-2">Welcome {{ user }} to DineMore</p>
					<p class="subtitle is-4"><i>The Only GW Dining Tracker Aimed to Help You Save Money</i></p>
					<p class="subtitle is-5"><a href="/" class="button is-primary is-inverted is-outlined">View Graphs on your total spending</a></p>
					<p class="subtitle is-5"><a href="/" class="button is-primary is-inverted is-outlined">Predictive analysis on spending habits</a></p>
					<p class="subtitle is-5"><a href="/" class="button is-primary is-inverted is-outlined">Another link here</a></p>
				</div>
				<div class="column is-auto">
					<p class="title is-2">How to Begin</p>
					<p class="subtitle is-4">Using this app is really easy!</p>
					<p class="subtitle is-5"><a href="/spending_graph" class="button is-primary is-inverted is-outlined">Click Refresh Now</a><br/><small>This will update your account with the latest data</small></p>
					<p class="subtitle is-5">&#x2022; You can also click the <b><a href="/">Refresh</a></b> button on the nav bar</p>
					<p class="subtitle is-5">&#x2022; Now, click on any of the links in the nav bar or the buttons on the left! There is information about your spending habits</p>
					<p class="subtitle is-5">&#x2022; Click on <a href="/map">Map</a> in the nav bar for all accepted GWorld Vendors</p>

				</p>
			</div>
		</div>


	</div>
</div>
</div>
</section>
<section class="hero">
	<footer class="footer">
		<div class="container">
			<div class="content has-text-centered">
				<center>
					<p>
						<strong>DineMore</strong> by Suraj Shah
						<br/>
						<span class="icon is-small">&#169;
						</span>2018</a>
					</p>
				</center>
				<br/>
				<p>
					<a class="icon has-text-primary" href="http://surajshah.me" target="_blank">
						<i class="fas fa-globe-americas"></i>
					</a>
					<a class="icon has-text-primary" href="https://github.com/sshah98" target="_blank">
						<i class="fab fa-github"></i>
					</a>
					<a class="icon has-text-primary" href="mailto:shahsuraj261@gmail.com" target="_blank">
						<i class="fas fa-envelope"></i>
					</a>
				</p>
			</div>
		</div>
	</footer>
</section>


{% endblock %} {% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}