{# base template #}
<!DOCTYPE html>
<html>

<head>
	{% block head %}
	<title>{% block title %}{% endblock %}{{ config.APPNAME }}</title>
	{% endblock %}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	<!-- D3.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<!-- Plotly.js -->
	<script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>


</head>

<body>
	<div id="content">{% block content %}{% endblock %}</div>
</body>

</html>