{% extends "layout.html" %} {% block title %}Home {% endblock %} {% block content %}
<div class="container" style="width:100%;">

	<nav class="navbar">
		<div class="navbar-header">

			<span class="navbar-brand"><a href="/" style="text-decoration:none">DineMore</a></span>
		</div>
		<ul class="nav navbar-nav">

			<li><a href="/logout">Logout</a></li>
			<li><a href="/refresh">Refresh</a></li>
			<li><a href="/spending_graph">Spending Graph</a></li>


		</ul>
	</nav>
</div>

<html>

<head>
</head>

<body>
	<h3>Spending History</h3>
	<div id="graph-0"></div>

</body>


<footer>
	<script type="text/javascript">
	var graph = {{graphJSON | safe}};
	Plotly.plot("graph-0", graph.data, graph.layout);
	</script>
</footer>

</html>
{% endblock %}